<div>
  <h1>Mostrar Registros</h1>

  <link href="./ver-egresos.component.css" type="txt/css" rel="stylesheet">
  <form [formGroup]="formularioBusqueda">
    <div class="form-inline">
      <label for="idUsuario" class="font-weight-bold mr-2">ID del Usuario:</label>
      <input type="text" id="input_id_usuario" formControlName="idUsuario" name="id_user" class="form-control mr-2">
      <input type="reset" class="btn btn-danger boton" (click)="obtenerEgreso()">
    </div>
    
    <br>
    <button type="button" class="btn  btn-warning boton" (click)="buscarPorUsuario()">Buscar por usuario</button>
    <button class="btn btn-primary boton" (click)="obtenerEgreso()">Obtener Registros</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>ID transccion</th>
        <th scope="col">Descripció producto</th>
        <th scope="col">Precio producto</th>
        <th scope="col">Rut Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">apellido</th>
        <th scope="col">Id usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of registros">
        <td>{{ dato._id }}</td>
        <td>{{ dato.descripcion }}</td>
        <td>{{ dato.precio }}</td>
        <td>{{ dato.rut }}</td>
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.apellido }}</td>
        <td>{{ dato.id }}</td>

        <!-- Puedes agregar la columna del usuario aquí si lo necesitas -->
      </tr>
    </tbody>
  </table>
</div>
