<div>
<h1>mostrar registros</h1>


<button class="btn btn-primary" (click)="obteneregreso()"  >Obtener Registros</button>

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th scope="col">descripcion</th>
        <th scope="col">Campo2</th>
        <th scope="col">Usuario</th>
        <th scope="col">Campo4</th>
        <th scope="col">campo5</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of registros">
        <td>{{ dato._id }}</td>
        <td>{{ dato.descripcion }}</td>
        <td>{{ dato.id_usuario }}</td>
        <td>{{ dato.precio }}</td>
      </tr>
    </tbody>
  </table>


</div>

