



<div>
  <h1> obtener egresos</h1>

  <!--<div>
    <h1>Crear Egreso</h1>
    
    <form [formGroup]="egreso_Form">
      <label for="descripcion">Descripción:</label>
      <input type="text" id="descripcion" formControlName="descripcion" />
  
      <label for="precio">Precio:</label>
      <input type="number" id="precio" formControlName="precio" />
  
      
      <label for="id_usuario">ID de Usuario:</label>
      <input type="text" id="id_usuario" formControlName="id_usuario" />
  
      <button type="button" (click)="crearEgreso()">Crear Egreso</button>
    </form>
  </div>-->
  
    <button class="btn btn-primary" (click)="obteneregreso()"  >Obtener Registros</button>

    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th scope="col">nombre</th>
            <th scope="col">apellido</th>
            <th scope="col">rut</th>
            <th scope="col">correo</th>
            <th scope="col">password</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of registros">
            <td>{{dato._id}}</td>
            <td>{{dato.nombre}}</td>
            <td>{{dato.apellido}}</td>
            <td>{{dato.rut}}</td>
            <td>{{dato.correo}}</td>
            <td>{{dato.password}}</td>
          </tr>
          
          
        </tbody>
      </table>


</div>

