<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
    <div class="container-fluid">

        <a class="navbar-brand" id="cft" href="#">CFT</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://cftestatalaricayparinacota.cl">inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://cftestatalaricayparinacota.cl/areas-formativas-2024/">carreras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="https://cftestatalaricayparinacota.cl/admision-2/">admision</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div>
        <h1>Formulario</h1>
    </div>
    <form action="../ver-usuarios/ver-usuarios.component.html" [formGroup]="formulario" method="POST">
       
        <div class="form-group">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre"placeholder="NOMBRE" class="form-control" aria-describedby="passwordHelpBlock"
                formControlName="nombre">
            <small *ngIf="formularioReactivo.nombre?.errors?.required && formularioReactivo.nombre.touched">
                El nombre es requerido
            </small>
        </div>

        
        <div class="form-group">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" id="apellido"placeholder="APELLIDO" class="form-control" aria-describedby="passwordHelpBlock"
                formControlName="apellido">
            <small *ngIf="formularioReactivo.apellido?.errors?.required && formularioReactivo.apellido.touched">
                El apellido es requerido
            </small>
        </div>

        <div class="form-group">
            <label for="rut" class="form-label">RUT</label>
            <input type="text" id="rut" class="form-control" aria-describedby="passwordHelpBlock"
                formControlName="rut"placeholder="RUT">
            <small *ngIf="formularioReactivo.rut?.errors?.required && formularioReactivo.rut.touched">
                El RUT es requerido en el campo
            </small>
        </div>

       
        <div class="form-group">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" id="correo" class="form-control" aria-describedby="passwordHelpBlock"
                formControlName="correo"placeholder="CORREO">
            <small *ngIf="formularioReactivo.correo?.errors?.required && formularioReactivo.correo.touched">
                El correo es necesario
            </small>
        </div>

  
        <div class="form-group">
            <label for="contraseña" class="form-label">Contraseña</label>
            <input type="password" id="contraseña" class="form-control" aria-describedby="passwordHelpBlock"
                formControlName="password"placeholder="PASSWORD">
            <small *ngIf="formularioReactivo.password?.errors?.required && formularioReactivo.password.touched">
                La contraseña es requerida
            </small>
        </div>

      
        <div class="form-group">
            <button class="btn btn-dark" type="submit" (click)="botonEnviar()" [disabled]="!formulario.valid">Enviar</button>
        </div>
    </form>
</div>
