
#navbar {
    background-color: #2c2e30; /* Cambia esto al color que desees para la barra de navegación */
}

.navbar-brand,
.navbar-nav a {
    color: white;
    margin:1%
}

.container {
    background-color: #f7eeee; 
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000000; 
    
}
::placeholder {
    color: #ffffff;
     font-size: 12px;
     
}

.form-group {
    color: #000000;
}
input{
    background-color: #151313;
  
    
}

form {
   
    max-width: 400px;
    margin: 0 auto;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 2%;
}

button:disabled {
    background-color: #000000; 
    cursor: not-allowed;
}