





<div class="container">
    <div>
        <h1>Formulario</h1>
    </div>
    <form [formGroup]="formulario">
        <!-- INPUT PARA Campo1-->
        <div class="form-group">    
            <div>
                <label>Campo1</label>
                <!-- INPUT para el campo nombre-->
                <input
                    type="text"
                    placeholder="Ingresa tu nombre"
                    formControlName ="campo1"
                    required
                >
                <!-- Mostrar el error para el campo nombre-->
                <small *ngIf=" formularioReactivo.campo1?.errors?.required && formularioReactivo.campo1.touched ">
                    El nombre es requerido
                </small>
            </div>
        </div>
        <!-- FIN INPUT PARA Campo1-->
        <!-- INPUT PARA Campo2-->
        <div class="form-group">
            <div>
                <label>Campo2</label>
                <!-- INPUT para el campo apellido-->
                <input
                    type="text"
                    placeholder="Ingresa tu apellido"
                    formControlName ="campo2"
                >
                <small *ngIf=" formularioReactivo.campo2?.errors?.required && formularioReactivo.campo2.touched ">
                    El nombre es requerido
                </small>
            </div>
        </div>
        <!-- FIN INPUT PARA CAMPO2-->
        <!-- INPUT PARA Campo3-->
        <div class="form-group">
            <div>
                <label>Campo3</label>
                <!-- INPUT para el campo rut-->
                <input
                    type="text"
                    placeholder="Ingresa tu Rut"
                    formControlName ="campo3"
                >
                <small *ngIf=" formularioReactivo.campo3?.errors?.required && formularioReactivo.campo3.touched ">
                    El rut es requerido en el campo
                </small>
            </div>
        </div>
        <!-- FIN INPUT PARA CAMPO3-->

        <!-- INPUT PARA Campo4-->
        <div class="form-group">
            <div>
                <label>Campo4</label>
                <!-- INPUT para el campo correo-->
                <input
                    type="text"
                    placeholder="Ingresa tu correo"
                    formControlName ="campo4"
                >
                <small *ngIf=" formularioReactivo.campo4?.errors?.required && formularioReactivo.campo4.touched ">
                    El correo es necesario
                </small>
            </div>
        </div>
        <!-- FIN INPUT PARA CAMPO4-->
        <!-- INPUT PARA Campo5-->
        <div class="form-group">
            <div>
                <label>Campo5</label>
                <!-- INPUT para el campo contraseña-->
                <input
                    type="password"
                    placeholder="Ingresa tu contraseña"
                    formControlName ="campo3"
                >
                <small *ngIf=" formularioReactivo.campo5?.errors?.required && formularioReactivo.campo5.touched ">
                    la contraseña es requerida 
                </small>
            </div>
        </div>
        <!-- FIN INPUT PARA CAMPO5-->




        <!-- BOTÓN-->
        <div class="form-group">
            <div>
                <button 
                class="btn btn-primary" 
                type="submit"
                (click)="botonEnviar()"
                [disabled]="!formulario.valid"
                >Enviar</button>
            </div>
        </div>
        <!-- FIN BOTÓN-->
        
    
    </form>
    
          
       
</div>


