<div *ngIf="usuarios.length > 0; else noUsuarios" class="container mt-4">
  <h2 class="mb-4">Lista de Usuarios:</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let usuario of usuarios">
      <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
      <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
      <p><strong>RUT:</strong> {{ usuario.rut }}</p>
      <p><strong>Correo:</strong> {{ usuario.correo }}</p>
      <p><strong>id Usuario:</strong> {{usuario._id}}</p>
    </li>
  </ul>
</div>
<ng-template #noUsuarios class="container mt-4">
  <p>No hay usuarios disponibles.</p>
</ng-template>

<!--<p><strong>Nombre:</strong> {{ usuarios[usuarios.length - 1]?.nombre }}</p> 
      <p><strong>Apellido:</strong> {{ usuarios[usuarios.length - 1]?.apellido }}</p> 
      <p><strong>RUT:</strong> {{ usuarios[usuarios.length - 1]?.rut }}</p>
      <p><strong>Correo:</strong> {{ usuarios[usuarios.length - 1]?.correo }}</p>       este es por si solo quieres que se vea 1 :)      -->