<div *ngIf="usuarios.length > 0; else noUsuarios" class="container mt-4" id="container">
  <h2 class="mb-4">Lista de Usuarios:</h2>
  <div class="row">
    <div class="col-md-3" *ngFor="let usuario of usuarios">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ usuario.nombre }}</h5>
          <p class="card-text">Apellido: {{ usuario.apellido }}</p>
          <p class="card-text">RUT: {{ usuario.rut }}</p>
          <p class="card-text">Correo: {{ usuario.correo }}</p>
          <p class="card-text">ID Usuario: {{ usuario._id }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noUsuarios class="container mt-4">
  <p>No hay usuarios disponibles.</p>
</ng-template>



<!--<p><strong>Nombre:</strong> {{ usuarios[usuarios.length - 1]?.nombre }}</p> 
      <p><strong>Apellido:</strong> {{ usuarios[usuarios.length - 1]?.apellido }}</p> 
      <p><strong>RUT:</strong> {{ usuarios[usuarios.length - 1]?.rut }}</p>
      <p><strong>Correo:</strong> {{ usuarios[usuarios.length - 1]?.correo }}</p>       este es por si solo quieres que se vea 1 :)      -->